*
{
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    padding: 5%; 

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    
}
form
{
    color: #555;
    border: 2px solid rgb(94, 168, 144);
    border-radius: 4px;
}

